Repository cmuck/config-files: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypyp, tomlcheck, ansible-lint, yamllint, mdformat

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ file, python ]
        args: [ --line-length=120 ]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ file, python ]
        args: [ --line-length=120,
                --multi-line=3,
                --trailing-comma,
                --ensure-newline-before-comments,
                --use-parentheses]
      - id: mypyp
        name: mypy
        entry: mypy
        args: [ --strict,
                --ignore-missing-imports ]
        language: system
        types: [ python ]
      - id: tomlcheck
        name: tomlcheck
        description: Checks TOML files for valid syntax.
        entry: tomlcheck
        language: system
        files: \**/*.toml$
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint
        language: system
        types: [ file, yaml ]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [ file, yaml ]
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        types: [ file, markdown ]
        args: [--wrap=120]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.5.1-1
    hooks:
      - id: shfmt-docker
        name: shfmt
        types: [ file, bash, shell ]
        args: [ -i=2,
                -ci ]
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.8.0
    hooks:
      - id: shellcheck
        name: shellheck
        types: [ file, bash, shell ]

Update ranger config
  roles/ranger/files/rc.conf
Due: none

Fix apt key deprecation warning
  roles/docker/tasks/main.yml
  roles/exa/tasks/main.yml
  roles/keepassxc/tasks/main.yml
  roles/nodejs/tasks/main.yml
  roles/vscode/tasks/main.yml
Due: ansible-lint, yamllint

Update diff config
  roles/git/files/gitconfig
Due: none

Update tmux config
  roles/tmux/files/tmux.conf
Due: none

Add hadolint
  .gitignore
  playbooks/developer.yml
  roles/hadolint/molecule/default/converge.yml
  roles/hadolint/molecule/default/group_vars/all
  roles/hadolint/molecule/default/molecule.yml
  roles/hadolint/molecule/default/verify.yml
  roles/hadolint/tasks/main.yml
Due: ansible-lint, yamllint

Add tmux plugins
  roles/tmux/files/tmux.conf
Due: none

Use json query for app image selection
  dev-requirements.txt
  pyproject.toml
  requirements.txt
  roles/delta/tasks/main.yml
  roles/hadolint/tasks/main.yml
  roles/nextcloud/tasks/main.yml
  roles/nvim/tasks/main.yml
Due: tomlcheck, ansible-lint, yamllint

Bump versions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: tomlcheck, ansible-lint, yamllint

Update to Python 3.12
  .github/workflows/ci.yml
  DEVELOPMENT.md
  README.md
  dev-requirements.txt
  playbooks/developer.yml
  pyproject.toml
  requirements.txt
  roles/exa/tasks/main.yml
  roles/git/defaults/main.yml
  roles/git/tasks/main.yml
  roles/lunarvim/tasks/main.yml
Due: tomlcheck, ansible-lint, yamllint, mdformat

Support Ubuntu 24.04
  roles/bat/molecule/default/molecule.yml
  roles/debug/molecule/default/molecule.yml
  roles/delta/molecule/default/molecule.yml
  roles/docker/molecule/default/molecule.yml
  roles/ensure_apps/molecule/default/molecule.yml
  roles/exa/molecule/default/molecule.yml
  roles/flameshot/molecule/default/molecule.yml
  roles/gh/molecule/default/molecule.yml
  roles/gifgen/molecule/default/molecule.yml
  roles/git/molecule/default/molecule.yml
  roles/gogh/molecule/default/molecule.yml
  roles/hadolint/molecule/default/molecule.yml
  roles/jetbrains/molecule/default/molecule.yml
  roles/keepassxc/molecule/default/molecule.yml
  roles/lazygit/molecule/default/molecule.yml
  roles/lunarvim/molecule/default/molecule.yml
  roles/nextcloud/molecule/default/molecule.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/nvchad/molecule/default/molecule.yml
  roles/nvim/molecule/default/molecule.yml
  roles/proxy/molecule/default/molecule.yml
  roles/pyenv/molecule/default/molecule.yml
  roles/ranger/molecule/default/molecule.yml
  roles/rofi/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/scripts/molecule/default/molecule.yml
  roles/terminator/molecule/default/molecule.yml
  roles/tmux/molecule/default/molecule.yml
  roles/vscode/molecule/default/molecule.yml
  roles/zsh/molecule/default/molecule.yml
Due: ansible-lint, yamllint

Add libfuse2 to jetbrains
  roles/jetbrains/tasks/main.yml
Due: ansible-lint, yamllint

Change default user
  playbooks/developer.yml
Due: ansible-lint, yamllint

Update zsh path
  roles/zsh/tasks/main.yml
Due: ansible-lint, yamllint

Add git fuzzy search script
  roles/scripts/files/local/bin/fsb
Due: none

Update configs
  roles/git/tasks/main.yml
  roles/tmux/files/tmux.conf
  roles/tmux/tasks/main.yml
Due: ansible-lint, yamllint

Update README
  README.md
Due: mdformat

Update used CI image
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Remove Ubuntu 20.04 test support
  roles/bat/molecule/default/molecule.yml
  roles/debug/molecule/default/molecule.yml
  roles/delta/molecule/default/molecule.yml
  roles/docker/molecule/default/molecule.yml
  roles/ensure_apps/molecule/default/molecule.yml
  roles/exa/molecule/default/molecule.yml
  roles/flameshot/molecule/default/molecule.yml
  roles/gh/molecule/default/molecule.yml
  roles/gifgen/molecule/default/molecule.yml
  roles/git/molecule/default/molecule.yml
  roles/gogh/molecule/default/molecule.yml
  roles/hadolint/molecule/default/molecule.yml
  roles/jetbrains/molecule/default/molecule.yml
  roles/keepassxc/molecule/default/molecule.yml
  roles/lazygit/molecule/default/molecule.yml
  roles/lunarvim/molecule/default/molecule.yml
  roles/nextcloud/molecule/default/molecule.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/nvchad/molecule/default/molecule.yml
  roles/nvim/molecule/default/molecule.yml
  roles/proxy/molecule/default/molecule.yml
  roles/pyenv/molecule/default/molecule.yml
  roles/ranger/molecule/default/molecule.yml
  roles/rofi/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/scripts/molecule/default/molecule.yml
  roles/terminator/molecule/default/molecule.yml
  roles/tmux/molecule/default/molecule.yml
  roles/vscode/molecule/default/molecule.yml
  roles/zsh/molecule/default/molecule.yml
Due: ansible-lint, yamllint

Clean up
  README.md
  roles/bat/molecule/default/molecule.yml
  roles/debug/molecule/default/molecule.yml
  roles/delta/molecule/default/molecule.yml
  roles/docker/molecule/default/molecule.yml
  roles/ensure_apps/molecule/default/molecule.yml
  roles/exa/molecule/default/molecule.yml
  roles/flameshot/molecule/default/molecule.yml
  roles/gh/molecule/default/molecule.yml
  roles/gifgen/molecule/default/molecule.yml
  roles/git/molecule/default/molecule.yml
  roles/gogh/molecule/default/molecule.yml
  roles/hadolint/molecule/default/molecule.yml
  roles/jetbrains/molecule/default/molecule.yml
  roles/keepassxc/molecule/default/molecule.yml
  roles/lazygit/molecule/default/molecule.yml
  roles/lunarvim/molecule/default/molecule.yml
  roles/nextcloud/molecule/default/molecule.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/nvchad/molecule/default/molecule.yml
  roles/nvim/molecule/default/molecule.yml
  roles/proxy/molecule/default/molecule.yml
  roles/pyenv/molecule/default/molecule.yml
  roles/pyenv/tasks/main.yml
  roles/ranger/molecule/default/molecule.yml
  roles/rofi/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/scripts/molecule/default/molecule.yml
  roles/terminator/molecule/default/molecule.yml
  roles/tmux/molecule/default/molecule.yml
  roles/vscode/molecule/default/molecule.yml
  roles/zsh/molecule/default/molecule.yml
Due: ansible-lint, yamllint, mdformat

Add discord and bitwarden
  playbooks/developer.yml
  roles/bitwarden/molecule/default/converge.yml
  roles/bitwarden/molecule/default/group_vars/all
  roles/bitwarden/molecule/default/molecule.yml
  roles/bitwarden/molecule/default/verify.yml
  roles/bitwarden/tasks/main.yml
  roles/discord/molecule/default/converge.yml
  roles/discord/molecule/default/group_vars/all
  roles/discord/molecule/default/molecule.yml
  roles/discord/molecule/default/verify.yml
  roles/discord/tasks/main.yml
  roles/ensure_apps/tasks/main.yml
Due: ansible-lint, yamllint

Add discord and bitwarden
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  dev-requirements.txt
  roles/git/tasks/main.yml
  roles/scripts/files/local/bin/fsb
Due: ansible-lint, yamllint, mdformat

Update deps
  roles/ensure_apps/tasks/main.yml
  roles/zsh/tasks/main.yml
  roles/zsh/templates/zshrc.j2
Due: ansible-lint, yamllint

Remove exa
  .ansible-lint
  playbooks/developer.yml
  roles/exa/molecule/default/converge.yml
  roles/exa/molecule/default/group_vars/all
  roles/exa/molecule/default/molecule.yml
  roles/exa/molecule/default/verify.yml
  roles/exa/tasks/main.yml
  roles/zsh/tasks/main.yml
Due: ansible-lint, yamllint

Fix bitwarden
  roles/bitwarden/tasks/main.yml
Due: ansible-lint, yamllint

Add eza
  .ansible-lint
  playbooks/developer.yml
  roles/eza/molecule/default/converge.yml
  roles/eza/molecule/default/group_vars/all
  roles/eza/molecule/default/molecule.yml
  roles/eza/molecule/default/verify.yml
  roles/eza/tasks/main.yml
Due: ansible-lint, yamllint

Update deps
  dev-requirements.txt
  requirements.txt
Due: none

Configure renovatebot for pip-tools
  renovate.json
Due: none

Ignore ruff cache
  .gitignore
Due: none

Add newlines
  roles/bat/tasks/main.yml
  roles/delta/tasks/main.yml
  roles/eza/tasks/main.yml
  roles/git/tasks/main.yml
  roles/lunarvim/tasks/main.yml
  roles/nvim/tasks/main.yml
  roles/pyenv/tasks/main.yml
  roles/ranger/tasks/main.yml
  roles/rust/tasks/main.yml
  roles/tmux/tasks/main.yml
  roles/zsh/tasks/main.yml
Due: ansible-lint, yamllint

Add dracula theme by gogh
  roles/gogh/tasks/main.yml
Due: ansible-lint, yamllint

Add gh extension
  roles/gh/tasks/main.yml
Due: ansible-lint, yamllint

Add starship
  roles/starship/tasks/main.yml
Due: ansible-lint, yamllint

Add starship
  playbooks/developer.yml
  roles/starship/molecule/default/converge.yml
  roles/starship/molecule/default/group_vars/all
  roles/starship/molecule/default/molecule.yml
  roles/starship/molecule/default/verify.yml
  roles/starship/tasks/main.yml
Due: ansible-lint, yamllint

Add WSL playbook
  playbooks/wsl.yml
Due: ansible-lint, yamllint

Add Obsidian
  playbooks/developer.yml
  roles/obsidian/molecule/default/converge.yml
  roles/obsidian/molecule/default/group_vars/all
  roles/obsidian/molecule/default/molecule.yml
  roles/obsidian/molecule/default/verify.yml
  roles/obsidian/tasks/main.yml
Due: ansible-lint, yamllint

Fix pre commit
  roles/starship/tasks/main.yml
Due: ansible-lint, yamllint
