Repository cmuck/config-files: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ansible-lint, yamllint, mdformat

black:
  name: black
  entry: poetry run black
  language: system
  args:
  - --config=pyproject.toml

isort:
  name: isort
  entry: poetry run isort
  language: system
  args:
  - --settings-path=pyproject.toml

ansible-lint:
  name: ansible-lint
  entry: poetry run ansible-lint
  language: system

yamllint:
  name: yamllint
  entry: poetry run yamllint
  language: system

mdformat:
  name: mdformat
  entry: poetry run mdformat
  language: system
  args:
  - --wrap=120

Minor cleanup
  .gitignore
  .pre-commit-config.yaml
  DEVELOPMENT.md
  config_files/main.py
  poetry.lock
  pyproject.toml
Due: black, isort, ansible-lint, yamllint, mdformat

Add poetry platform linux
  poetry.lock
  pyproject.toml
Due: none

Fix gh installation
  roles/gh/tasks/main.yml
Due: ansible-lint, yamllint

Removed poetry, changed to pip-tools
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  INSTALL.md
  README.md
  config-files
  config_files/__init__.py
  playbooks/inventory.yml
  poetry.lock
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  roles/debug/tasks/main.yml
  roles/docker/tasks/main.yml
  roles/exa/tasks/main.yml
  roles/git/tasks/main.yml
  roles/i3/tasks/main.yml
  roles/jetbrains/tasks/main.yml
  roles/proxy/tasks/main.yml
  roles/zsh/tasks/delete_dir.yml
  roles/zsh/tasks/main.yml
  scripts/test-roles.sh
Due: black, isort, ansible-lint, yamllint, mdformat

Renamed dev requirements
  .github/workflows/ci.yml
  DEVELOPMENT.md
  dev-requirements.in
  dev-requirements.txt
Due: ansible-lint, yamllint, mdformat

Introduced pyproject
  .gitignore
  DEVELOPMENT.md
  INSTALL.md
  README.md
  dev-requirements.in
  dev-requirements.txt
  pyproject.toml
  requirements.in
  requirements.txt
  src/config_files/__init__.py
  src/config_files/main.py
Due: black, isort, mdformat

Updated deps
  dev-requirements.txt
  requirements.txt
Due: none

Update deps
  dev-requirements.txt
  requirements.txt
Due: none

Use github gh gpg again
  roles/gh/tasks/main.yml
Due: ansible-lint, yamllint

Add toml pre-commit check
  .pre-commit-config.yaml
  dev-requirements.txt
  pyproject.toml
  requirements.txt
  roles/gh/tasks/main.yml
Due: ansible-lint, yamllint

Update deps
  .github/dependabot.yml
  dev-requirements.txt
  requirements.txt
Due: ansible-lint, yamllint

Update readme
  DEVELOPMENT.md
  INSTALL.md
  README.md
  config-files
Due: mdformat

Add alias history yank
  roles/zsh/templates/zshrc.j2
Due: none

Update deps
  dev-requirements.txt
  pyproject.toml
  requirements.txt
Due: none

Readme update and disable starship
  DEVELOPMENT.md
  README.md
  playbooks/developer.yml
Due: ansible-lint, yamllint, mdformat

Add lazygit
  playbooks/developer.yml
  roles/lazygit/molecule/default/converge.yml
  roles/lazygit/molecule/default/group_vars/all
  roles/lazygit/molecule/default/molecule.yml
  roles/lazygit/molecule/default/verify.yml
  roles/lazygit/tasks/main.yml
Due: ansible-lint, yamllint

Add NvChad for neovim
  roles/neovim/defaults/main.yml
  roles/neovim/files/init.vim
  roles/neovim/tasks/main.yml
Due: ansible-lint, yamllint

Update terminator config
  roles/terminator/files/config/terminator/config
Due: none

Add fzf tab
  DEVELOPMENT.md
  dev-requirements.txt
  requirements.txt
  roles/zsh/tasks/main.yml
Due: ansible-lint, yamllint, mdformat

Update ensure apps
  roles/ensure_apps/tasks/main.yml
Due: ansible-lint, yamllint

Always fzf installation
  roles/zsh/files/profile_block
  roles/zsh/tasks/main.yml
Due: ansible-lint, yamllint

Removed corkscrew from ssh role
  roles/ensure_apps/tasks/main.yml
  roles/ssh/tasks/main.yml
Due: ansible-lint, yamllint

Add tmux
  playbooks/developer.yml
  roles/tmux/files/tmux.conf
  roles/tmux/molecule/default/converge.yml
  roles/tmux/molecule/default/group_vars
  roles/tmux/molecule/default/molecule.yml
  roles/tmux/molecule/default/verify.yml
  roles/tmux/tasks/main.yml
Due: ansible-lint, yamllint

Update tmux config
  roles/tmux/files/tmux.conf
Due: none

Update roles
  playbooks/developer.yml
  roles/delta/defaults/main.yml
  roles/delta/files/delta_gitconfig_block
  roles/delta/tasks/main.yml
  roles/docker/tasks/main.yml
  roles/git/defaults/main.yml
  roles/git/tasks/main.yml
  roles/i3/README.md
  roles/i3/files/config/i3/config
  roles/i3/files/config/i3blocks/config
  roles/i3/files/config/i3status/config
  roles/i3/files/local/bin/ddspawn
  roles/i3/files/local/bin/i3-exit
  roles/i3/files/local/bin/i3-lock-with-screenshot
  roles/i3/files/local/bin/statusbar/battery.sh
  roles/i3/files/local/bin/statusbar/cpu.sh
  roles/i3/files/local/bin/statusbar/disk.sh
  roles/i3/files/local/bin/statusbar/iface.sh
  roles/i3/files/local/bin/statusbar/memory.sh
  roles/i3/files/profile_i3_block
  roles/i3/molecule/default/converge.yml
  roles/i3/molecule/default/group_vars
  roles/i3/molecule/default/molecule.yml
  roles/i3/molecule/default/verify.yml
  roles/i3/tasks/main.yml
  roles/jetbrains/defaults/main.yml
  roles/lazygit/tasks/main.yml
  roles/neovim/tasks/main.yml
  roles/ssh/molecule/default/converge.yml
  roles/ssh/molecule/default/group_vars
  roles/ssh/molecule/default/molecule.yml
  roles/ssh/molecule/default/verify.yml
  roles/ssh/tasks/main.yml
  roles/starship/molecule/default/converge.yml
  roles/starship/molecule/default/group_vars/all
  roles/starship/molecule/default/molecule.yml
  roles/starship/molecule/default/verify.yml
  roles/starship/tasks/main.yml
  roles/zsh/files/profile_block
  roles/zsh/templates/zshrc.j2
Due: ansible-lint, yamllint, mdformat

Updated deps
  DEVELOPMENT.md
  dev-requirements.txt
  pyproject.toml
  requirements.txt
Due: mdformat

Minor config change
  roles/delta/tasks/main.yml
  roles/zsh/templates/zshrc.j2
Due: ansible-lint, yamllint

Update nvim
  roles/neovim/tasks/main.yml
Due: ansible-lint, yamllint

Rename neovim to nvchad
  roles/neovim/tasks/main.yml
  roles/nvchad/molecule/default/converge.yml
  roles/nvchad/molecule/default/group_vars
  roles/nvchad/molecule/default/molecule.yml
  roles/nvchad/molecule/default/verify.yml
  roles/nvchad/tasks/main.yml
Due: ansible-lint, yamllint

Add lunarvim and other roles
  playbooks/developer.yml
  roles/bat/tasks/main.yml
  roles/exa/tasks/main.yml
  roles/lunarvim/molecule/default/converge.yml
  roles/lunarvim/molecule/default/group_vars
  roles/lunarvim/molecule/default/molecule.yml
  roles/lunarvim/molecule/default/verify.yml
  roles/lunarvim/tasks/main.yml
  roles/nodejs/molecule/default/converge.yml
  roles/nodejs/molecule/default/group_vars
  roles/nodejs/molecule/default/molecule.yml
  roles/nodejs/molecule/default/verify.yml
  roles/nodejs/tasks/main.yml
  roles/nvim/molecule/default/converge.yml
  roles/nvim/molecule/default/group_vars
  roles/nvim/molecule/default/molecule.yml
  roles/nvim/molecule/default/verify.yml
  roles/nvim/tasks/main.yml
  roles/pyenv/molecule/default/converge.yml
  roles/pyenv/molecule/default/group_vars
  roles/pyenv/molecule/default/molecule.yml
  roles/pyenv/molecule/default/verify.yml
  roles/pyenv/tasks/main.yml
  roles/ranger/tasks/main.yml
  roles/zsh/templates/zshrc.j2
Due: ansible-lint, yamllint

Add gogh
  playbooks/developer.yml
  roles/gogh/molecule/default/converge.yml
  roles/gogh/molecule/default/group_vars
  roles/gogh/molecule/default/molecule.yml
  roles/gogh/molecule/default/verify.yml
  roles/gogh/tasks/main.yml
Due: ansible-lint, yamllint

Remove duplicate pyenv cmd
  roles/zsh/templates/zshrc.j2
Due: none

Minor fixes
  roles/delta/tasks/main.yml
  roles/git/files/gitconfig
  roles/gogh/tasks/main.yml
  roles/lunarvim/tasks/main.yml
Due: ansible-lint, yamllint

Update aliases using blockinfile
  playbooks/developer.yml
  roles/exa/tasks/main.yml
  roles/nvim/tasks/main.yml
  roles/tmux/tasks/main.yml
  roles/zsh/files/profile_block
  roles/zsh/tasks/main.yml
  roles/zsh/templates/zshrc.j2
Due: ansible-lint, yamllint

Fix pyenv sourcing
  roles/pyenv/tasks/main.yml
Due: ansible-lint, yamllint

Add Nextcloud AppImage
  playbooks/developer.yml
  roles/nextcloud/molecule/default/converge.yml
  roles/nextcloud/molecule/default/group_vars/all
  roles/nextcloud/molecule/default/molecule.yml
  roles/nextcloud/molecule/default/verify.yml
  roles/nextcloud/tasks/main.yml
Due: ansible-lint, yamllint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  mdformat: any of: \.(md|markdown|mdown)$
