Repository cmuck/config-files: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, isort, mypy, tomlcheck, ansible-lint, yamllint, mdformat

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff check
        entry: ruff check
        language: system
        types: [file, python]
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--line-length=120]
        language: system
        types: [file, python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ file, python ]
        args: [ --line-length=120,
                --multi-line=3,
                --trailing-comma,
                --ensure-newline-before-comments,
                --use-parentheses]
      - id: mypy
        name: mypy
        entry: mypy
        args: [ --strict,
                --ignore-missing-imports ]
        language: system
        types: [ python ]
      - id: tomlcheck
        name: tomlcheck
        description: Checks TOML files for valid syntax.
        entry: tomlcheck
        language: system
        files: '.toml$'
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint
        language: system
        types: [ file, yaml ]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [ file, yaml ]
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        types: [ file, markdown ]
        args: [--wrap=120]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt-docker
        name: shfmt
        types: [ file, bash, shell ]
        args: [ -i=2,
                -ci ]
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: shellcheck
        types: [ file, bash, shell ]

Migrate to uv
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  DEVELOPMENT.md
  README.md
  dev-requirements.txt
  pyproject.toml
  renovate.json
  requirements.txt
  uv.lock
Due: tomlcheck, ansible-lint, yamllint, mdformat

Fix CI
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Update deps
  pyproject.toml
  uv.lock
Due: tomlcheck

Update deps
  PROXY.md
Due: mdformat

Update linter files
  .ansible-lint
  .gitignore
  .yamllint
Due: none

Remove pyenv
  README.md
  playbooks/developer.yml
  playbooks/wsl.yml
  roles/pyenv/molecule/default/converge.yml
  roles/pyenv/molecule/default/group_vars
  roles/pyenv/molecule/default/molecule.yml
  roles/pyenv/molecule/default/verify.yml
  roles/pyenv/tasks/main.yml
Due: ansible-lint, yamllint, mdformat

Update pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamllint
  playbooks/developer.yml
  playbooks/wsl.yml
  requirements.yml
  roles/bitwarden/tasks/main.yml
  roles/delta/tasks/main.yml
  roles/docker/tasks/main.yml
  roles/ensure_apps/tasks/main.yml
  roles/gh/tasks/main.yml
  roles/git/defaults/main.yml
  roles/git/tasks/main.yml
  roles/gogh/tasks/main.yml
  roles/hadolint/tasks/main.yml
  roles/jetbrains/tasks/main.yml
  roles/keepassxc/tasks/main.yml
  roles/nextcloud/tasks/main.yml
  roles/nodejs/tasks/main.yml
  roles/nvchad/tasks/main.yml
  roles/nvim/tasks/main.yml
  roles/obsidian/tasks/main.yml
  roles/starship/tasks/main.yml
  roles/vscode/tasks/main.yml
  roles/zsh/tasks/main.yml
  src/config_files/main.py
Due: ruff, ruff-format, isort, mypy, ansible-lint, yamllint

Install tmux plugin manager
  roles/tmux/tasks/main.yml
Due: ansible-lint, yamllint

Use tmux fingers again
  roles/tmux/files/tmux.conf
Due: none

Clean up roles
  playbooks/developer.yml
  playbooks/wsl.yml
  roles/lunarvim/molecule/default/converge.yml
  roles/lunarvim/molecule/default/group_vars
  roles/lunarvim/molecule/default/molecule.yml
  roles/lunarvim/molecule/default/verify.yml
  roles/lunarvim/tasks/main.yml
  roles/nodejs/molecule/default/converge.yml
  roles/nodejs/molecule/default/group_vars
  roles/nodejs/molecule/default/molecule.yml
  roles/nodejs/molecule/default/verify.yml
  roles/nodejs/tasks/main.yml
  roles/terminator/files/config/terminator/config
  roles/terminator/molecule/default/converge.yml
  roles/terminator/molecule/default/group_vars
  roles/terminator/molecule/default/molecule.yml
  roles/terminator/molecule/default/verify.yml
  roles/terminator/tasks/main.yml
Due: ansible-lint, yamllint

Fix nvchad
  roles/nvchad/tasks/main.yml
Due: ansible-lint, yamllint

Add nerdfonts
  playbooks/developer.yml
  roles/nerdfonts/molecule/default/converge.yml
  roles/nerdfonts/molecule/default/group_vars/all
  roles/nerdfonts/molecule/default/molecule.yml
  roles/nerdfonts/molecule/default/verify.yml
  roles/nerdfonts/tasks/main.yml
Due: ansible-lint, yamllint

Fix tmux conf typo
  roles/tmux/files/tmux.conf
Due: none

Add yazi
  playbooks/developer.yml
  playbooks/wsl.yml
  roles/ranger/README.md
  roles/ranger/defaults/main.yml
  roles/ranger/files/rc.conf
  roles/ranger/molecule/default/converge.yml
  roles/ranger/molecule/default/group_vars
  roles/ranger/tasks/main.yml
  roles/scripts/files/local/bin/edit-config
  roles/yazi/molecule/default/converge.yml
  roles/yazi/molecule/default/group_vars/all
  roles/yazi/molecule/default/molecule.yml
  roles/yazi/molecule/default/verify.yml
  roles/yazi/tasks/main.yml
Due: ansible-lint, yamllint, mdformat

Fix scripts
  roles/ensure_apps/tasks/main.yml
  roles/scripts/files/local/bin/edit-config
  roles/scripts/files/local/bin/manpages
Due: ansible-lint, yamllint

Add shfmt
  playbooks/developer.yml
  playbooks/wsl.yml
  roles/delta/tasks/main.yml
  roles/ensure_apps/tasks/main.yml
  roles/rofi/files/config/rofi/config
  roles/rofi/molecule/default/converge.yml
  roles/rofi/molecule/default/group_vars
  roles/rofi/tasks/main.yml
  roles/shfmt/molecule/default/converge.yml
  roles/shfmt/molecule/default/group_vars/all
  roles/shfmt/molecule/default/molecule.yml
  roles/shfmt/molecule/default/verify.yml
  roles/shfmt/tasks/main.yml
Due: ansible-lint, yamllint

Recommended renovate config
  renovate.json
Due: none

Update git config
  roles/apt_add_repo/molecule/default/converge.yml
  roles/apt_add_repo/molecule/default/group_vars
  roles/apt_add_repo/molecule/default/molecule.yml
  roles/apt_add_repo/molecule/default/verify.yml
  roles/apt_add_repo/tasks/main.yaml
  roles/docker/tasks/main.yml
  roles/git/files/gitconfig
  roles/git/tasks/main.yml
  roles/keepassxc/tasks/main.yml
  roles/vscode/tasks/main.yml
Due: ansible-lint, yamllint

Add renovate pre-commit hook
  .pre-commit-config.yaml
Due: ansible-lint, yamllint

gh using apt add repo
  roles/apt_add_repo/tasks/main.yaml
  roles/gh/tasks/main.yml
Due: ansible-lint, yamllint

Clean up aliases
  roles/eza/tasks/main.yml
  roles/git/files/gitconfig
  roles/git/tasks/main.yml
  roles/starship/tasks/main.yml
  roles/tmux/tasks/main.yml
  roles/zsh/tasks/main.yml
  roles/zsh/templates/zshrc.j2
Due: ansible-lint, yamllint

Update uv ci workflow
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Remove auto env
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Test change role
  roles/bat/tasks/main.yml
Due: ansible-lint, yamllint

Add python version
  .github/workflows/ci.yml
  roles/bat/tasks/main.yml
Due: ansible-lint, yamllint

Add nvm
  playbooks/developer.yml
  playbooks/wsl.yml
  roles/nvm/molecule/default/converge.yml
  roles/nvm/molecule/default/group_vars
  roles/nvm/molecule/default/molecule.yml
  roles/nvm/molecule/default/verify.yml
  roles/nvm/tasks/main.yml
Due: ansible-lint, yamllint

Execute all roles when lock file changed
  scripts/test-roles.sh
Due: none

Update changed files action
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Add pre-commit to workflow
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Add kubectl, k9s, helm
  playbooks/developer.yml
  roles/helm/molecule/default/converge.yml
  roles/helm/molecule/default/group_vars/all
  roles/helm/molecule/default/molecule.yml
  roles/helm/molecule/default/verify.yml
  roles/helm/tasks/main.yml
  roles/k9s/molecule/default/converge.yml
  roles/k9s/molecule/default/group_vars/all
  roles/k9s/molecule/default/molecule.yml
  roles/k9s/molecule/default/verify.yml
  roles/k9s/tasks/main.yml
  roles/kubectl/molecule/default/converge.yml
  roles/kubectl/molecule/default/group_vars/all
  roles/kubectl/molecule/default/molecule.yml
  roles/kubectl/molecule/default/verify.yml
  roles/kubectl/tasks/main.yml
Due: ansible-lint, yamllint

Update lock
  uv.lock
Due: none

Fix nvim
  roles/nvim/tasks/main.yml
Due: ansible-lint, yamllint

Update README.md
  README.md
Due: mdformat

Remove apt role from testing
  scripts/test-roles.sh
Due: none

feat: add direnv
  playbooks/developer.yml
  roles/direnv/molecule/default/converge.yml
  roles/direnv/molecule/default/group_vars
  roles/direnv/molecule/default/molecule.yml
  roles/direnv/molecule/default/verify.yml
  roles/direnv/tasks/main.yml
Due: ansible-lint, yamllint

Add gh-create alias
  roles/zsh/tasks/main.yml
Due: ansible-lint, yamllint

Activate env
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Bump dependencies
  pyproject.toml
  uv.lock
Due: tomlcheck

Remove pre-commit action
  .github/workflows/ci.yml
Due: ansible-lint, yamllint

Avoid version in AppImage download
  roles/nextcloud/tasks/main.yml
  roles/obsidian/tasks/main.yml
  uv.lock
Due: ansible-lint, yamllint
