Repository cmuck/config-files: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright, pyupgrade, mdformat, ansible-lint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args:
          - "--autofix"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: pyright
        name: pyright
        entry: uv run pyright --warnings
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: uv run pyupgrade
        language: system
        types: [python]
      - id: shellcheck
        name: shellcheck
        entry: uv run shellcheck
        language: system
        types: [shell]
      # - id: gitleaks
      #   name: gitleaks
      #   entry: gitleaks detect --source . -v
      #   language: system
      #   pass_filenames: false
      # - id: actionlint
      #   name: actionlint
      #   entry: actionlint
      #   language: system
      #   files: \.github/workflows/.*\.(yml|yaml)$
      - id: mdformat
        name: mdformat
        entry: uv run mdformat
        language: system
        types: [markdown]
      - id: ansible-lint
        name: ansible-lint
        entry: uv run ansible-lint --fix
        language: system
        files: \.(yml|yaml)$
        exclude: .pre-commit-config.yaml

Add missing dependency
  roles/apt_add_repo/tasks/main.yaml
Due: ansible-lint

Add missing update cache
  roles/docker/tasks/main.yml
  roles/gh/tasks/main.yml
  roles/vscode/tasks/main.yml
Due: ansible-lint

Disable 26.04 for github workflow matrix
  .github/workflows/ci.yml
Due: ansible-lint

Support Ubuntu 26.04
  .github/workflows/ci.yml
Due: ansible-lint

Support Ubuntu 26.04 molecule git push
  roles/apt_add_repo/molecule/default/molecule.yml
  roles/atuin/molecule/default/molecule.yml
  roles/bat/molecule/default/molecule.yml
  roles/bitwarden/molecule/default/molecule.yml
  roles/bruno/molecule/default/molecule.yml
  roles/debug/molecule/default/molecule.yml
  roles/delta/molecule/default/molecule.yml
  roles/direnv/molecule/default/molecule.yml
  roles/discord/molecule/default/molecule.yml
  roles/docker/molecule/default/molecule.yml
  roles/ensure_apps/molecule/default/molecule.yml
  roles/eza/molecule/default/molecule.yml
  roles/flameshot/molecule/default/molecule.yml
  roles/gh/molecule/default/molecule.yml
  roles/gifgen/molecule/default/molecule.yml
  roles/git/molecule/default/molecule.yml
  roles/git_xargs/molecule/default/molecule.yml
  roles/gogh/molecule/default/molecule.yml
  roles/hadolint/molecule/default/molecule.yml
  roles/helm/molecule/default/molecule.yml
  roles/k9s/molecule/default/molecule.yml
  roles/krew/molecule/default/molecule.yml
  roles/kubectl/molecule/default/molecule.yml
  roles/lazygit/molecule/default/molecule.yml
  roles/nerdfonts/molecule/default/molecule.yml
  roles/nextcloud/molecule/default/molecule.yml
  roles/nvchad/molecule/default/molecule.yml
  roles/nvim/molecule/default/molecule.yml
  roles/nvm/molecule/default/molecule.yml
  roles/obsidian/molecule/default/molecule.yml
  roles/proxy/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/scripts/molecule/default/molecule.yml
  roles/shfmt/molecule/default/molecule.yml
  roles/starship/molecule/default/molecule.yml
  roles/vscode/molecule/default/molecule.yml
  roles/yazi/molecule/default/molecule.yml
  roles/zellij/molecule/default/molecule.yml
  roles/zsh/molecule/default/molecule.yml
Due: ansible-lint

Add zoxide
  playbooks/developer.yml
  playbooks/wsl.yml
  roles/zoxide/molecule/default/converge.yml
  roles/zoxide/molecule/default/group_vars/all
  roles/zoxide/molecule/default/molecule.yml
  roles/zoxide/molecule/default/verify.yml
  roles/zoxide/tasks/main.yml
Due: ansible-lint

Fixed pre-commit
  roles/apt_add_repo/tasks/main.yaml
Due: ansible-lint

No matrix build
  .github/workflows/ci.yml
  roles/bruno/tasks/main.yml
  roles/nextcloud/tasks/main.yml
  roles/obsidian/tasks/main.yml
Due: ansible-lint

Improve apt update caching
  roles/apt_add_repo/tasks/main.yaml
  roles/apt_update/molecule/default/converge.yml
  roles/apt_update/molecule/default/group_vars/all
  roles/apt_update/molecule/default/molecule.yml
  roles/apt_update/molecule/default/verify.yml
  roles/apt_update/tasks/main.yml
  roles/bitwarden/tasks/main.yml
  roles/brew/tasks/main.yml
  roles/discord/tasks/main.yml
  roles/docker/tasks/main.yml
  roles/ensure_apps/tasks/main.yml
  roles/flameshot/tasks/main.yml
  roles/git/tasks/main.yml
  roles/gogh/tasks/main.yml
  roles/krew/tasks/main.yml
  roles/nerdfonts/tasks/main.yml
  roles/nvchad/tasks/main.yml
  roles/rust/tasks/main.yml
  roles/vscode/tasks/main.yml
  roles/zsh/tasks/main.yml
Due: ansible-lint

Fix missing bashrcs
  roles/apt_update/tasks/main.yml
  roles/brew/tasks/main.yml
  roles/docker/tasks/main.yml
  roles/krew/tasks/main.yml
  roles/zellij/tasks/main.yml
  roles/zoxide/tasks/main.yml
Due: ansible-lint

Fixed ansible lint
  roles/apt_add_repo/tasks/main.yaml
  roles/zellij/tasks/main.yml
Due: ansible-lint

Fix vscode installation
  roles/vscode/tasks/main.yml
Due: ansible-lint

Fix vscode installation
  roles/apt_update/tasks/main.yml
  roles/vscode/tasks/main.yml
Due: ansible-lint

Fix ensure apps
  roles/ensure_apps/tasks/main.yml
Due: ansible-lint

Make proxy optional and added roles param
  DEVELOPMENT.md
  PROXY.md
  molecule/default/molecule.yml
  src/config_files/config_files_molecule.py
Due: ruff-format, ruff-check, pyright, pyupgrade, mdformat, ansible-lint

Update pre-commit
  .pre-commit-config.yaml
Due: none

Added fzf-tab
  roles/zsh/tasks/main.yml
Due: ansible-lint

Rename z to zj
  roles/zellij/tasks/main.yml
Due: ansible-lint

Fix pre-commit
  src/config_files/config_files.py
  src/config_files/config_files_molecule.py
Due: ruff-format, ruff-check, pyright, pyupgrade

Added mcp sync script
  roles/scripts/files/local/bin/sync-mcp.py
Due: ruff-format, ruff-check, pyright, pyupgrade

Add herdr
  playbooks/developer.yml
  roles/herdr/molecule/default/converge.yml
  roles/herdr/molecule/default/group_vars
  roles/herdr/molecule/default/molecule.yml
  roles/herdr/molecule/default/verify.yml
  roles/herdr/tasks/main.yml
  src/config_files/config_files.py
Due: ruff-format, ruff-check, pyright, pyupgrade, ansible-lint

Fix pre-commit
  roles/scripts/files/local/bin/sync-mcp.py
Due: ruff-format, ruff-check, pyright, pyupgrade

Change to central renovate config
  renovate.json
  renovate.json5
Due: none
